.background{
    background-color: grey;
    height: 100vh;
}


.post{
    width:10vh;
    height: 20vh;
    background-color: black;
    margin: auto;
}

.lightbox{
    border: 5px solid black;
    float: left;
    background-color: black;
    
    margin-left: 45.3%
}
.redcircle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    margin-bottom: 5%;
}

.yellowcircle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color:yellow;
    margin-bottom: 5%;
   
}

.greencircle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    margin-bottom: 5%;
}
.greencircle:hover{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: greenyellow;
    box-shadow: 0px 0px 30px white;
}




